extends layout

block content
  h1= title
  p Hello, World! 
  p Welcome to #{title}
  br
  h3 You have following links to choose from
  ul
    li
      a(href="/newuser")= "Add New User to Database"
    li
      a(href="/userlist")= "User List from the Database"
  br
  a(href="http://people.rit.edu/at4017/645/project2/", target="_blank")= "Hippie Travel Home Page"